.moviesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 6em;
    background-color: #212529;
    background-image: linear-gradient(#212529, #6c757d, #212529);
    padding: 3.5%;
   
      :focus,
      :hover {
        transform: scale(1);
        z-index: 1;
      }
}

@media screen and (max-width: 900px) {
  .moviesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .moviesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .moviesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}


