.moviesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5em;
    background-color: #212529;
    background-image: linear-gradient(#212529, #6c757d);
    padding: 3.5%;
  
   
      :focus,
      :hover {
        transform: scale(1);
        z-index: 1;
      }
    
}





