main {
  height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.backdrop {
  height: 79vh;
  width:100%;
  position: absolute;
  z-index: 1;
}

.detailsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  height: 100%;
  padding: 2%;

}

.videoContainer {
  height: 40%;
  width: 50%;
  overflow: scroll;
  max-height: 60%;
  width: 40%;
  min-height: 60%;

    iframe {
      width: 100%;
      height: 100%;
    }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  max-height: 80%;
  min-height: 80%;
  background-color: #212529;
 
  border: 1px solid #B02AF8;
  align-items: center;
  // z-index: 2;
  // position: absolute;
  opacity: 85%;
}

.txtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  z-index: 1;
  height: 90%;
  color: white;
  margin-top: -5%;

    .title {
      font-size: 1.5em;
      margin: 0px;
      text-align: center;
    }

    .overview, .genre {
      text-align: center;
    }

 
}

.money {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.starImg {
  height: 1em;
  width: 1em;
  margin-left: 1%;
}

.dateContainer {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #B02AF8;
}

.btnWrapper {
  width: 30%;
  align-self: end;
  // margin-top: -3%;
  
    .cancelImg {
      // align-self: start;
      height: 3em;
      width: 3em;
      padding: .5%;


   
    }
}




