.App {
    font-family: 'Chivo';
}

.userMsg {
  height: 79vh;
  text-align: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
}


@media screen and (max-width: 430px) {
  .searchContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 515px) {
  .searchContainer {
    flex-direction: column;
    align-items: center;
  }
}

