.App {
    font-family: 'Chivo';
}

.userMsg {
  height: 79vh;
  text-align: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
  padding: 1%;
}
