form {
  display: flex;
  justify-content: center;
  height: 3em;
  // padding: 1%;
  // width: 30%;

    .search {
        border: 1px solid grey;
        border-radius: 5px;
        height: 25px;
        width: 100%;
        padding: 2px 23px 2px 30px;
        outline: 0;
        background-color: #495057;
        color: whitesmoke;
        // width: 87%;
 
    }
}