header {
  height: 18vh;
  width: 100%;
  background-image: linear-gradient(#212529, #495057);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B02AF8;
  position: sticky;
  justify-content: center;

    h1 {
      margin-left: 8%;
    }


    .shadows {
      position: relative;
      text-transform: uppercase;
      text-shadow: -15px 5px 20px #B02AF1;
      color: whitesmoke;
      letter-spacing: 0.49em;
      font-family: 'Anton', Arial, sans-serif;
      text-transform: uppercase;
      font-size: 6em;
      transition: all 0.25s ease-out;
      margin: 0;
      margin-left: 5%;
    }

    .shadows:hover {
      text-shadow: -16px 6px 15px #B02AF1;
    }
}

.headerLink {
    display: flex;
    justify-content: center;
    width: 100px;
}

.headerImg {
    width: 75%;
}

@media screen and (max-width: 630px) {
  header {
   font-size: .9em;
   position: sticky;

    .shadows {
    margin-left: 3%;
    }
  }
}

@media screen and (max-width: 530px) {
  header {
    font-size: .8em;
    position: sticky;

    .shadows {
      margin-left: 9%;
    }
  }
}

@media screen and (max-width: 430px) {
  header {
    font-size: .6em;
    position: sticky;

    .shadows {
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: 830px) {
    .shadows {
      margin-left: 9%;
    }
}
