header {
    height: 18vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: #212529;
    align-items: center;
    border-bottom: 1px solid #B02AF8;
    background-image: linear-gradient(#212529, #495057);

    h1 {
        font-size: 3.7em;
        font-weight: lighter;
        color: #B02AF8;
        justify-content: flex-end;
        // margin-left: 1%;
        position: relative;
    }
    .headerImg {
        height: 100px;
        width: 100px;
        justify-content: flex-start;
        margin-left: 35%;
        position: relative;
    }
}

