footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background-color: #212529;
    background-image: linear-gradient(#212529, #495057);
    font-size: larger;
    align-items: center;
    border-top: 1px solid #B02AF8;
    color: #B02AF8;
}